.clear{
    height: 70px;
    font-size: 1.6em;
    display: flex;
   align-items: center;
   justify-content: center;
   width: 100%;
   background-color: #ac0246;
   text-align: center;
   border-radius: 45px;
   margin-top: 15px;
   color: white;
   cursor: pointer;
   font-weight: bold;
   border: 2px solid white;
   
}

.clear:hover{
background-color: #ebb000;
}